/* Q1 */
.container{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 4px solid black;
}
.box{
    width: 100px;
    height: 100px;
    border: 4px solid red;
}
/* Q2 */
.container2{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
}
.box2{
    width: 100px;
    height: 100px;
    border: 4px solid red;
}
/* Q3 */
.navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: bisque
}
.navbar a{
    flex:1;
    text-align: center;
}
/* Q4 */
.profile_card{
    width: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.profile_card img{
    width: 200px;
    height: 250px;
}
/* Q5 */
.course_card{
    width: 400px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
.course_card img{
    width: 400px;
    height: 280px;
   
}
/* Q6 */
.product_card{
    border:2px solid black;
    max-width: 400px;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;

}
.product_card img{
    width: 240px;
    height: 250px;
    object-fit: cover;
}
.details{
    display: flex;
    flex-direction: column;
}
/* Q7 */
.testimonial_card{
    max-width: 400px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    padding: 10px;
    
}
.testimonial_card message{
    font-style: italic;
}
.testimonial_card user{
    align-self: self-end;
}
/* Q8 */
.pricing_card{
    width: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px

}
.pricing_card button{
    cursor: pointer;
    background-color: rgb(197, 221, 236);
}
/* Q9 */
.pricing-container {
    display: flex;
    flex-wrap: wrap;        
    gap: 10px;
}
.card {
    width: 200px;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}
/* Q10 */
